.hoveredTile {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 10px;
  background-color: #5f5f5f;
  padding: 10px;
}
